@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.img {
    background-image: url(https://picsum.photos);
    height: 300px;
    /* width: max-content; */
    object-fit: cover;
}

.pageBtn, .first, .end{
    cursor: pointer;
}
